<p>
  <span>
    {% if author %} By {% if authorData.url %}
    <a href="{{ authorData.url }}">{{ author }}</a>
    {% else %}
    {{ author }}
    {% endif %} {% else %} Staff {% endif %}
  </span>
  ·
  <time datetime="{{ date }}">
    {% if timely %}
    {{ date | readableDateAndTime }}
    {% else %}
    {{ date | readableDate }}
    {% endif %}
  </time>
</p>
