---
layout: base
type: group
---

<div class="content-container">
    <h1>{{ title }}</h1>
    <ul>
        <li>Contact: {{ contact }}</li>
        <li>Homepage: <a href="{{ url }}">{{ url }}</a></li>
    </ul>
    {{ content }}
</div>