<p>
  <span>
    {% if author %} By {% if authorData.url %}
    <a href="{{ authorData.url }}">{{ author }}</a>
    {% else %}
    {{ author }}
    {% endif %} {% else %} Staff {% endif %}
  </span>
  ·
  {% if includeTimeWithDate %}
  <date>{{ date | readableDateAndTime }}</date>
  {% else %}
  <date>{{ date | readableDate }}</date>
  {% endif %}
</p>
